.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

input {
  align-items: center;
  width: 50vw;
  font-size: 20px;
}

.ListingHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ListingCard {
  background-color: rgb(230, 227, 227);
  color: black;
  border-radius: 10px;
  border: 5px solid white;
  width: 40vw;
  margin:1rem;
}

.CardInner{
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(230, 227, 227);
}

.CardInner h1,h3,p{
  position: relative;
  margin: 1rem;
  text-align: left;
}

.CardInner h3{
  font-style: italic;
  color: rgb(97, 96, 96);
}

.image{
  display: inline-block;
  margin: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 4px solid white ;
}

button{
  width: 100px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: red;
  margin: 2rem;
  padding: .5rem 2rem;

}